# Build directory
build

# Local app settings
local.settings.json

# Python packages
.python_packages

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Distribution / packaging
dist
node_modules

# Environments
.env
.venv
env
venv
